<html>
<head>
  <title>Gamestore</title>
</head>
<body>
      <h1>Name of selected game is {{ game.gamename }}</h1>

      <!-- {% if genres %}
      <ul>
        {% for genre in genres %}
        <li>{{ genre.genreid }}</li>
        {% endfor %}
      </ul> -->
        <!-- {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

      <form action="{% url 'gamestore:vote' game.gameid %}" method="post">
        {% csrf_token %}
        {% for game in }
      </form> -->
</body>
</html>
